parameters:
    ignoreErrors:
        - '#Call to an undefined static method Conv\\Util\\Config#'
        - '#Calling method advance\(\) on possibly null value of type Symfony\\Component\\Console\\Helper\\ProgressBar\|null\.#'
        - '#Calling method finish\(\) on possibly null value of type Symfony\\Component\\Console\\Helper\\ProgressBar\|null\.#'
